<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI recruiter</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1>AIrecruiter</h1>

        <!-- Form to submit query -->
        <form action="/" method="post">
            <input type="text" name="query" class="form-control" placeholder="Enter your query">
            <button type="submit" class="btn btn-primary mt-2">Run Query</button>
        </form>

        <!-- Form to select CSV file -->
        <form action="/" method="post" class="mt-4">
            <select name="filename" class="form-select">
                <option value="scholar.csv">Scholar</option>
                <option value="github_profiles.csv">GitHub Profiles</option>
                <option value="filtered_authors.csv">Filtered Profiles</option>
            </select>
            <button type="submit" class="btn btn-secondary mt-2">Display</button>
        </form>

        <!-- Flash Messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {% if csv_html %}
            <div class="mt-4">{{ csv_html|safe }}</div>
        {% endif %}
        {% if csv_html %}
            <div class="mt-4">{{ csv_html|safe }}</div>
    
            <a href="{{ url_for('download_file', filename=request.form['filename']) }}" class="btn btn-success mt-2">Download CSV</a>
{% endif %}

    </div>
</body>
</html>
