<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HireQuotient</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div class="container">
        <h1>AIRecruiter</h1>

        <!-- Form to submit query -->
        <div class="input-group">
            <form action="/" method="post">
                <input type="text" name="query" class="form-control" placeholder="Enter your query">
                <button type="submit" class="btn btn-primary">Run Query</button>
            </form>
        </div>

        <!-- Form to select and display CSV file -->
        <div class="input-group">
            <form action="/" method="post">
                <select name="filename" class="form-select">
                    <option value="scholar.csv">Scholar CSV</option>
                    <option value="github_profiles.csv">GitHub Profiles CSV</option>
                    <option value="filtered_authors.csv">Filtered Profiles CSV</option>
                </select>
                <button type="submit" class="btn btn-secondary">Display CSV</button>
            </form>
        </div>

        <!-- Flash Messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <!-- Loader -->
        <div id="loading" style="display: none;" class="loader"></div>

        <!-- CSV Display -->
        {% if csv_html %}
            <div class="mt-4" style="overflow-x: auto;">{{ csv_html|safe }}</div>
            <a href="{{ url_for('download_file', filename=request.form['filename']) }}" class="btn btn-success mt-2">Download CSV</a>
        {% endif %}
    </div>

    <script>
        $(document).ready(function() {
            $('form').submit(function() {
                $('#loading').show();  // Show loader on form submit
            });
        });
    </script>
</body>
</html>
